* {
    margin: 0;
    padding: 0
}
html,body{
    height: 100%;
    width: 100%;
    background: #eeeeee;
}

.sum {
    text-align: center;
}
.sum p{
    width: 80vw;
    margin: 0 auto;
    font-size: .8rem;
    text-indent: 2em;
    text-align: left;
}

.page {
    width: 80vw;
    height: 80vw;
    margin: 5vw auto 0 auto;
    font-size: 0;
}

.page>div {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    vertical-align: top
}

.page>div>span {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    width: 19vw;
    height: 19vw;
    border-radius: 20px;
    background: #cccccc;
    font-size: 3.5rem;
    text-align: center;
    line-height: 19vw;
    user-select: none;
    transition: all .9s;
    cursor: pointer;
    font-family: cursive;
}